* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.common__section {
    padding-top: 30px;
}

.empty {
    display: none;
    height: 60px;
}

.overflow-hidden {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.common__font {
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px;
}
