.home__wrapper {
    flex-wrap: wrap;
    align-items: flex-start;
}

.home__image {
    margin-right: 0px;
}

.home__text {
    margin-left: 0px;
}

.home__button {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}
