.shop-goods__wrapper {
    max-width: 360px;
    width: 100%; 
}

.shop-goods__pack {
    width: 200px;
    margin: 30px auto;
}

.shop-goods__notes p {
    max-width: 320px;
    padding: 60px 20px;
}
