.technology__slider {
    display: block;
    padding: 0 0 50px 0;
}

.technology__scroll {
    max-width: 320px;
}

.technology__text {
    max-width: 320px;
}

.technology__info {
    max-width: 320px;
    width: 100%;
    padding-bottom: 10px;
}

.technology__info h4 {
    text-align: center;
}

.technology__info p {
    text-align: center;
}